.logotext{
  margin-top: 15px;
  padding-left: 12px;

 color: #000000;	
  font-family: Futura;
    font-size: 40px;	
    font-weight: 500;	
    line-height: 53px;
}
.pbackground{
  background-color: #000000;
  position:fixed;
  z-index: -999;
  top:0;
  right:0;
  bottom:0;
  left:0;
}


.aligntextstart{
  text-align: justify;
  text-justify: inter-word;
  font-weight: 500;
  font-size: 48px;
  margin-right: 10px;
  margin-top: 0px;
}
.particles{
  height: 90%;
}

.learnsoonstyle{
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0px;
  font-weight:normal;
  padding-top: 0% ;
  justify-content: flex-start;
}


.learndifferentstyle{
margin: 0px;
padding: 0px;
font-family: Lato;
font-size: 48px;
font-weight: 300;
}
.getnotified{
  height: 65px;
  width: 220px;
  margin-right: 20px;
  border: 2px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 24px;	
  margin-top: 20px;
  line-height: 29px;
}


.zstyle{
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 90%;
  justify-content: center;
}
.secondstyle{
  background:black;
  height: auto;
  padding-bottom: 50px;
  width: 100%;


}
.secondstyle h1{
  color:white;
  font-size: 45px;
  text-align:  center;
  padding-top:50px ;
  font-family: Lato;	
  font-size: 100px;	
  font-weight: bold;
  	line-height: 120px;
}
.secondstyle p{
  color:white;
  margin-left: 20px;
  font-size: 24px;
  margin-right: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: left;
  font-family: Lato;	
 
}



.carouselstyle{

  width: 100%;
  height: 100px;
}

.top{
  padding-block-start: 20px
}

.c{

  widows: 100%;
  height: 100%;
  
}
.c1{
  background:red;
  widows: 100%;
  height: 100%;
  
}
.c2{
  background:yellow;
  widows: 100%;
  height: 100%;
  
}
.c3{
  background:green;
  widows: 100%;
  height: 100%;
  
}
.c4{
  background: blue;
  widows: 100%;
  height: 100%;
  
}
.c5{
  background: blueviolet;
  widows: 100%;
  height: 100%;
  
}


.animate-me {
  -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */ 
  animation: 15s infinite bgcolorchange;
  width: 100%;
  height: 100%;
}
@keyframes bgcolorchange {
  25% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
 
  100% {
    background-color:blue;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: red;}
      25%  {background: yellow;}
      75%  {background: green;}
      100% {background: blue;}
 }
 
 html, body {
  font-family: sans-serif;
  height: calc(100%);
  margin: 0;
  padding: 0;
}
/* * Navbar */
.navbar-default .navbar-nav li  {

  font-size: 20px;
  font-weight: lighter;
  margin:  25px;

  
}
.nav-links{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  margin:  25px;
  
}

.nav-links a{
  margin: 25px;
  color:white;
  text-decoration: none;
  transition: all 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
  font-family: Lato;
  font-weight: 700

}
.navbar {
  border: 0;
  background:rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.navbar .navbar-brand {
  color: black;
  font-size: 18px;
  font-weight: bold;
  
}
/* * Header */
.header {
  border: 0;
  color:white;
  display: inline-block;
  text-align: center;
  width: 100%;

}
.header .name {
  font-size: 30px;
  font-weight: bold;

}
.header .description {
  font-size: 20px;
  margin-top: 3px;
}
.header .links {
  margin: 25px;
  color:white;

}
.header .links a {
  color: black;
  text-decoration: none;
  font-size: 20px;
 
  margin:  25px;
  font-family: Lato;
  font-weight: 600
}








row-bg-overlay{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  backface-visibility: hidden;
  background: rgba(9,184,92,0.88); 
  background: linear-gradient(to bottom,rgba(9,184,92,0.88) 0%,#09b85c 100%); 
   opacity: 0.8;
}

.nectar-shape-divider-wrap[data-position="top"] {
  transform: rotate(180deg);
}
.nectar-shape-divider-wrap[data-position="top"] {
  top: -1px;
  bottom: auto;
}




.m{
font-family: Montserrat;
text-transform: none;
font-size: 50px;
line-height: 50px;
font-weight: 600;
margin-left: 10dp;

}




.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 340px;
  margin-top: 10
 
}
@media screen and (min-width: 768px) {
  .grid {
    max-width: 1200px;
  }
}
.card {
  position: relative;
  flex: 1 1 100%;
  margin-top: 3px ;
  padding: 20px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .card {
    flex-basis: calc(33.33% - (62px + 40px));
    margin: 0 31px;
  }
}
.card__thumb {
  overflow: hidden;
}
.card__img {
  margin: -20px -20px 0;
}
.card__img img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
}
.card__desc {
  margin-top: 20px;
}
.card__two .card__img {
  padding: 20px;
}
.card__one {
  transition: transform 0.5s;
 
}
.card__one::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.card__one:hover, .card__one:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.card__one:hover::after, .card__one:focus::after {
  opacity: 1;
}
.card__two::before, .card__two::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.38s ease-in-out, transform 0.35s ease-in-out;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.card__two::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.card__two::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.card__two:hover::before, .card__two:focus::before, .card__two:hover::after, .card__two:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.card__three::before, .card__three::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, .1);
  content: '';
  pointer-events: none;
}
.card__three::before {
  transform-origin: left top;
}
.card__three::after {
  transform-origin: right bottom;
}
.card__three:hover::before, .card__three:focus::before, .card__three:hover::after, .card__three:focus::after {
  transform: scale3d(1, 1, 1);
}
