.logotext{
  margin-top: 10px;
  padding-left: 12px;
  color: #000;
}

.aligntextstart{
  text-align: justify;
  text-justify: inter-word;
}

.learnsoonstyle{
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0px;
  font-weight:normal;
  padding-top: 0% ;
  justify-content: flex-start;
}

.getnotified{
  background-color:black; /* Green */
    border: none;
    color: white;
  border-radius: 15px;  
    padding: 15px 32px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.zstyle{
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.secondstyle h1{
  color:white;
  font-size: 45px;
  margin-left: 50px;
  padding-top:50px ;
}